<div>
  <div>
    <h1>
      Comment details 评论详细
    </h1>

    <div>
      <div>
        <a href="/photos/<%= @the_comment.photo_id %>">
          Go back 返回
        </a>
      </div>

      <div>
        <a href="/delete_comment/<%= @the_comment.id %>">
          Delete comment 删除评论
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Author 评论者
      </dt>
      <dd>
        <%= @the_comment.commenter.username %>
      </dd>

      <dt>
        Comment 评论
      </dt>
      <dd>
        <%= @the_comment.body %>
      </dd>

      <dt>
        Created at 发布时间
      </dt>
      <dd>
        <%= time_ago_in_words(@the_comment.created_at) %> ago
      </dd>

      <dt>
        Updated at 更新时间
      </dt>
      <dd>
        <%= time_ago_in_words(@the_comment.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>

<div>
  <div>
    <h3>
      Edit comment 更改评论
    </h3>

    <form action="/modify_comment/<%= @the_comment.id %>"  method="post" >
      <input type="hidden" name="query_author_id" value="<%= @the_comment.author_id %>">
      <input type="hidden" name="query_photo_id" value="<%= @the_comment.photo_id %>">
      <label for="body_box">
        Comment 评论
      </label>
      <textarea id="body_box" name="query_body"><%= @the_comment.body %></textarea>
      <button>
        Update 更新
      </button>
    </form>
  </div>
</div>
