<div>
  <div>
    <h1>
      Photo details 照片详细
    </h1>

    <div>
      <div>
        <a href="/photos">
          Go back 返回
        </a>
      </div>

      <% if @the_photo.owner_id == @current_user.id %>
        <div>
          <a href="/delete_photo/<%= @the_photo.id %>">
            Delete this photo 删除照片
          </a>
        </div>
        <div>
          <form action="/modify_photo/<%= @the_photo.id %>"  method="post" >
          <div>
            <label for="caption_box">
              <h6>Edit caption 修改标题</h6>
            </label>
          <textarea id="caption_box" name="query_caption"><%= @the_photo.caption %></textarea>
          <button>
            Update photo 更新照片
          </button>
          </form>
        </div>
      <% end %>
    </div>

    <dl>
      <dt>
        Image 照片
      </dt>
      <dd>
        <img src="<%= @the_photo.image %>" class="img-responsive">
      </dd>

      <dt>
        Caption 标题
      </dt>
      <dd>
        <%= @the_photo.caption %>
      </dd>

      <dt>Owner 发布者</dt>
      <dd>
        <%= @the_photo.owner.username %>
      </dd>

      <dt>
        Posted 发布时间
      </dt>
      <dd>
        <%= time_ago_in_words(@the_photo.created_at) %> ago
      </dd>

      <dt>
        Updated at 最新更新
      </dt>
      <dd>
        <%= time_ago_in_words(@the_photo.updated_at) %> ago
      </dd>

      <dt>
        Likes count 点赞数
      </dt>
      <dd>
        <%= @the_photo.likes_count %>
      </dd>

      <dt>
        Comments count 评论数
      </dt>
      <dd>
        <%= @the_photo.comments_count %>
      </dd>

      <dt>
        Fans 粉丝
      </dt>
      <dd>
        <%= @the_photo.fans.map_relation_to_array(:username).join(", ") %>
      </dd>

      <dt>
        Add a fan 加粉丝
      </dt>
      <% if @the_photo.fans.where({:id => @current_user.id}).empty? %>
        <dd>
          <form action="/insert_like" method="post">
            <input type="hidden" value="<%= @current_user.id %>" name="query_fan_id">
            <input type="hidden" value="<%= @the_photo.id %>" name="query_photo_id">
            <button>Like 点赞</button>
          </form>
        </dd>
      <% else %>
        <dd>
          <a href="/delete_like/<%= @current_user.likes.where({:photo_id => @the_photo.id}).first.id %>">
            Unlike 取消点赞
          </a>
        </dd>
      <% end %>
    </dl>
  </div>
</div>

<h3>Comments 评论</h3>

<table border="2">
  <tr>
    <th>Commenter 评论者</th>
    <th>Comment 评论</th>
    <th>Posted 发布时间</th>
  </tr>

<% @the_photo.comments.each do |a_comment| %>
  <tr>
    <td>
      <%= a_comment.commenter.username %>
    </td>
    <td>
      <%= a_comment.body %>
    </td>
    <td>
      <%= time_ago_in_words(a_comment.created_at) %> ago
    </td>
    <% if a_comment.author_id == @current_user.id %>
    <td>
      <a href="/comments/<%= a_comment.id %>">
          Show details 查看更多
      </a>
    </td>
    <% end %>
  </tr>
<% end %>
</table>

<h5>Add a new comment 添加新评论</h5>
<form action="/insert_comment" method="post">
  <input type="hidden" value="<%= @the_photo.id %>" name="input_photo_id">
  <input type="hidden" value="<%= @current_user.id %>" name="input_user_id">
  <label for="browser_comment"><h6>Comment 评论</h6></label>
  <textarea id="browser_comment" name="input_comment" placeholder="Enter a comment 输入评论..."></textarea>
  <button><h6>Add comment 添加</h6></button>
</form>
